NODE_ENV=development
GENAI_PORT=3003

# LangChain/OpenAI Configuration
OPENAI_API_KEY=
LANGCHAIN_MODEL_NAME="gpt-3.5-turbo"

# Set to 'true' in production if you want to disable detailed error messages
# For development, 'false' or omitting it is fine and will show stack traces
# HONO_HIDE_Powered_By_HEADER=true
# HONO_PRETTY_JSON=true 