{
	"openapi": "3.1.0",
	"info": {
		"title": "Prompteus Contributions",
		"license": {
			"name": "MIT",
			"url": "https://opensource.org/licenses/MIT"
		},
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://prompteus.ai",
			"description": "Production server"
		}
	],
	"paths": {
		"/api/contributions": {
			"get": {
				"tags": ["contribution-controller"],
				"summary": "Get all contributions",
				"operationId": "getContributions",
				"parameters": [
					{
						"name": "contributor",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "endDate",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pageable",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/Pageable"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Contributions retrieved successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Page"
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/PageContributionDto"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/PageContributionDto"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": ["contribution-controller"],
				"summary": "Update contribution selection status",
				"operationId": "updateContributions",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/ContributionDto"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Contribution selections updated successfully",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					},
					"400": {
						"description": "Bad request - Invalid input",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				}
			}
		},
		"/api/contributions/trigger": {
			"post": {
				"tags": ["contribution-controller"],
				"summary": "Trigger contribution fetch for all repositories",
				"operationId": "triggerContributionFetch",
				"responses": {
					"200": {
						"description": "Contribution fetch triggered successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TriggerResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"429": {
						"description": "GitHub API rate limit exceeded",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/api/contributions/trigger/repository": {
			"post": {
				"tags": ["contribution-controller"],
				"summary": "Trigger contribution fetch for specific repository",
				"operationId": "triggerContributionFetchForRepository",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TriggerRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Contribution fetch triggered successfully",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TriggerResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad request - Invalid repository",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"404": {
						"description": "Repository not found",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"429": {
						"description": "GitHub API rate limit exceeded",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"ContributionDto": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"minLength": 1
					},
					"gitRepositoryId": {
						"type": "integer",
						"format": "int64"
					},
					"type": {
						"type": "string"
					},
					"username": {
						"type": "string"
					},
					"summary": {
						"type": "string"
					},
					"isSelected": {
						"type": "boolean"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time"
					}
				},
				"required": [
					"gitRepositoryId",
					"id",
					"isSelected",
					"summary",
					"type",
					"username"
				]
			},
			"TriggerResponse": {
				"type": "object",
				"properties": {
					"status": {
						"type": "string"
					},
					"message": {
						"type": "string"
					},
					"triggeredAt": {
						"type": "string",
						"format": "date-time"
					},
					"repositoriesProcessed": {
						"type": "integer",
						"format": "int32"
					},
					"contributionsFetched": {
						"type": "integer",
						"format": "int32"
					},
					"contributionsUpserted": {
						"type": "integer",
						"format": "int32"
					},
					"processedRepositories": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"errors": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"processingTimeMs": {
						"type": "integer",
						"format": "int64"
					}
				}
			},
			"TriggerRequest": {
				"type": "object",
				"properties": {
					"repositoryUrl": {
						"type": "string",
						"minLength": 1,
						"pattern": "^https://github\\.com/[a-zA-Z0-9._-]+/[a-zA-Z0-9._-]+$"
					}
				},
				"required": ["repositoryUrl"]
			},
			"Pageable": {
				"type": "object",
				"properties": {
					"page": {
						"type": "integer",
						"format": "int32",
						"minimum": 0
					},
					"size": {
						"type": "integer",
						"format": "int32",
						"minimum": 1
					},
					"sort": {
						"type": "array",
						"items": {
							"type": "string"
						}
					}
				}
			},
			"Page": {
				"type": "object",
				"properties": {
					"totalElements": {
						"type": "integer",
						"format": "int64"
					},
					"totalPages": {
						"type": "integer",
						"format": "int32"
					},
					"size": {
						"type": "integer",
						"format": "int32"
					},
					"content": {
						"type": "array",
						"items": {}
					},
					"number": {
						"type": "integer",
						"format": "int32"
					},
					"sort": {
						"$ref": "#/components/schemas/SortObject"
					},
					"first": {
						"type": "boolean"
					},
					"last": {
						"type": "boolean"
					},
					"numberOfElements": {
						"type": "integer",
						"format": "int32"
					},
					"pageable": {
						"$ref": "#/components/schemas/PageableObject"
					},
					"empty": {
						"type": "boolean"
					}
				}
			},
			"PageableObject": {
				"type": "object",
				"properties": {
					"offset": {
						"type": "integer",
						"format": "int64"
					},
					"sort": {
						"$ref": "#/components/schemas/SortObject"
					},
					"paged": {
						"type": "boolean"
					},
					"pageNumber": {
						"type": "integer",
						"format": "int32"
					},
					"pageSize": {
						"type": "integer",
						"format": "int32"
					},
					"unpaged": {
						"type": "boolean"
					}
				}
			},
			"SortObject": {
				"type": "object",
				"properties": {
					"empty": {
						"type": "boolean"
					},
					"unsorted": {
						"type": "boolean"
					},
					"sorted": {
						"type": "boolean"
					}
				}
			},
			"PageContributionDto": {
				"type": "object",
				"properties": {
					"totalElements": {
						"type": "integer",
						"format": "int64"
					},
					"totalPages": {
						"type": "integer",
						"format": "int32"
					},
					"size": {
						"type": "integer",
						"format": "int32"
					},
					"content": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ContributionDto"
						}
					},
					"number": {
						"type": "integer",
						"format": "int32"
					},
					"sort": {
						"$ref": "#/components/schemas/SortObject"
					},
					"first": {
						"type": "boolean"
					},
					"last": {
						"type": "boolean"
					},
					"numberOfElements": {
						"type": "integer",
						"format": "int32"
					},
					"pageable": {
						"$ref": "#/components/schemas/PageableObject"
					},
					"empty": {
						"type": "boolean"
					}
				}
			}
		}
	}
}
